[Unit]
Description=Consul Exporter Scraper
After=network.target
Wants=consul-exporter-scraper.timer

[Service]
Type=oneshot
ExecStart=/usr/local/bin/consul-exporter-scraper -environment={{ prometheus_consul_exporter_env }}

[Install]
WantedBy=multi-user.target