{
    "consuladdresses": [{% for ip in consul_exporter_scraper_consul_adress %}"{{ ip }}"{{ "," if not loop.last else "" }} {% endfor %}],
    "exporters": [
        {"name": "Mongo Exporter", "port": 9216, "exporttype": "mongodb-exporter"},
        {"name": "Postgresql Exporter", "port": 9187, "exporttype": "postgresql-exporter"},
        {"name": "Kubernetes Cert Exporter", "port": 9117, "exporttype": "kubernetes-cert-exporter"},
        {"name": "Nginx Log Exporter", "port": 4040, "exporttype": "nginx-log-exporter"},
        {"name": "Nginx Exporter", "port": 9113, "exporttype": "nginx-exporter"},
        {"name": "Kafka Exporter", "port": 7072, "exporttype": "kafka-exporter"},
        {"name": "Kafka Consumer Group Exporter", "port": 9093, "exporttype": "kafka-consumer-exporter"},
        {"name": "Cassandra Exporter", "port": 9999, "exporttype": "cassandra-exporter"},
        {"name": "Blackbox Exporter", "port": 9115, "exporttype": "blackbox-exporter"},
        {"name": "Node Exporter", "port": 9100, "exporttype": "node-exporter"}
    ]
}
