[Unit]
Description=Prometheus Consul Exporter Timer
Requires=prometheus-consul-exporter.service

[Timer]
Unit=prometheus-consul-exporter.service
OnCalendar=*-*-* *:00:00
Persistent=true

[Install]
WantedBy=timers.target